<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tseenola.jijin.myjijing">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainMenuActivity"
                  android:label="主菜单">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".biz.fundlist.view.FundListAty"
            android:label="基金列表"/>

        <activity android:name=".biz.fundbaseinfo.view.FundBaseInfoAty"
            android:label="基金详情"/>

        <activity android:name=".biz.setting.SettingAty"
            android:label="设置"/>

        <activity android:name=".biz.fundhistory.view.FundHistoryAty"
            android:label="基金历史"/>

        <activity android:name=".TestActivity"
            android:label="测试"/>
    </application>

</manifest>